.favourites p {
  width: 58%;
  margin: 0;
  margin-bottom: 20px;
  color: var(--disabled-blue);
  text-align: center;
}

.favourites__empty-message {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
}

.favourites__notion {
  font-weight: 400;
  line-height: 1.57;
}

.favourites {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.favourites__list {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* Скрыть вертикальный скроллбар в списке с избранными объявлениями */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Скрыть вертикальный скроллбар в списке с избранными объявлениями */
.favourites__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Удаление объявления из "Избранного" */
@keyframes removeFavoriteAd {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}
